name: Test Stone-Sec Action

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run Stone-Sec Action
        uses: ./.github/actions/stone-sec
        with:
          path: .
          fail_on: high